@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Lato';
    --font-mono: 'JetBrains Mono';
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 52 93% 67%;
    --primary-foreground: 0 0% 4%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 52 93% 67%;
    --accent-foreground: 0 0% 4%;
    --destructive: 350 77% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 19%;
    --input: 0 0% 19%;
    --ring: 52 93% 67%;
    --radius: 0.5rem;
  }

  html,
  body {
    background: #0a0a0a;
    min-height: 100%;
    overscroll-behavior: none;
  }

  body {
    font-family: var(--font-sans), system-ui, sans-serif;
    margin: 0;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #252525 #0a0a0a;
  }
}
